body {
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

.nav-wrapper {
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav div {
  margin: auto 20px;
}

.nav-links a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.loops-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.single-loop-card {
  background-color: #eceff1;
  border: 1px solid #90a4ae;
  /* border-radius: 5px; */
  margin: 10px;
  padding: 5px;
  width: 300px;
  box-shadow: 1px 1px 5px #cfd8dc;
}

.single-loop-card h3 {
  margin: 7px;
}

.single-loop-card h3 span {
  font-style: italic;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.row div {
  flex: 1;
  margin: 5px;
  text-align: center;
  height: 50px;
  width: 50px;
}

.false {
  background-color: tomato;
}

.true {
  background-color: aquamarine;
}

.wrapper {
  text-align: center;
  margin: 10px;
}

.button {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  padding: 16px 32px;
  font-size: 20px;
  top: 50%;
  margin: 10px;
  cursor: pointer;
}

.slidecontainer {
  width: 30%;
  margin: 0 auto;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 35px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
  text-align: center;
}

.buttons {
  display: flex;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup\_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
}
